<div
  id="shopify-section-sections--16818684198977__announcement-bar"
  class="shopify-section shopify-section-group-group-header announcement-bar-static"
>
  <div data-announcement-bar="">
    <div
      id="Announcement--sections--16818684198977__announcement-bar"
      data-section-type="announcement-bar"
      data-section-id="sections--16818684198977__announcement-bar"
      data-announcement-wrapper=""
    >
      <div class="ie11-error-message">
        <p>
          This site has limited support for your browser. We recommend switching to Edge, Chrome, Safari, or Firefox.
        </p>
      </div>
      <style data-shopify="">
        #Announcement--sections--16818684198977__announcement-bar .top-bar {
          --adjust-body: calc(var(--FONT-ADJUST-BODY) * 1.1);
          --padding: 5px;--bg: #0b0b0b;--text: #e4e1d6;}
        #Announcement--sections--16818684198977__announcement-bar .flickity-enabled .ticker--animated,
        #Announcement--sections--16818684198977__announcement-bar .top-bar__ticker { padding: 0 25px; }

        /* Prevent CLS on page load */
        :root { --announcement-height: calc(.75rem * var(--FONT-ADJUST-BODY) * 1.1 * 1.5 + calc(5px * 2)); }
      </style>
      <div class="top-bar" data-bar="">
        <div class="top-bar__slider flickity-enabled is-draggable" data-slider="" data-slider-speed="7000" tabindex="0">
          <div class="flickity-viewport" style="height: 32.4844px; touch-action: pan-y;">
            <div class="flickity-slider" style="left: 0px; transform: translateX(0%);">
              <div
                data-slide="announcement-0"
                data-slide-index="0"
                data-block-id="announcement-0"
                class="top-bar__slide is-selected"
                style="position: absolute; left: 0px; transform: translateX(0%);"
              >
                <div data-ticker-frame="" class="top-bar__message">
                  <div data-ticker-scale="" class="top-bar__scale">
                    <div data-ticker-text="" class="top-bar__text">
                      <p>WORLDWIDE SHIPPING</p>
                    </div>
                  </div>
                  <div data-ticker-text="" class="top-bar__text ticker__comparitor">
                    <p>WORLDWIDE SHIPPING</p>
                  </div>
                  <div data-ticker-text="" class="top-bar__text ticker__comparitor">
                    <p>WORLDWIDE SHIPPING</p>
                  </div>
                  <div data-ticker-text="" class="top-bar__text ticker__comparitor">
                    <p>WORLDWIDE SHIPPING</p>
                  </div>
                </div>
              </div>
              <div
                data-slide="text_NNzDn9"
                data-slide-index="1"
                data-block-id="text_NNzDn9"
                class="top-bar__slide"
                style="position: absolute; left: 0px; transform: translateX(100%);"
                aria-hidden="true"
              >
                <div data-ticker-frame="" class="top-bar__message">
                  <div data-ticker-scale="" class="top-bar__scale">
                    <div data-ticker-text="" class="top-bar__text">
                      <p>Visit our new store in Miami, Aventura Mall</p>
                    </div>
                  </div>
                  <div data-ticker-text="" class="top-bar__text ticker__comparitor">
                    <p>Visit our new store in Miami, Aventura Mall</p>
                  </div>
                  <div data-ticker-text="" class="top-bar__text ticker__comparitor">
                    <p>Visit our new store in Miami, Aventura Mall</p>
                  </div>
                  <div data-ticker-text="" class="top-bar__text ticker__comparitor">
                    <p>Visit our new store in Miami, Aventura Mall</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
